@model IEnumerable<Cars.Web.Models.CarViewModel>

<h2 id="results-title">Results:</h2>

@if (Model.Any())
{
   foreach (var car in Model)
   {
       Html.RenderPartial("_CarPartial", car);
   }
}
else
{
    <p>No cars found</p>
}

