@model Cars.Web.Models.SearchViewModel

@{
    ViewBag.Title = "Search";
}

<div class="row">
    <div class="col-md-12">
        <h2>Search cars: </h2>

        @using (@Ajax.BeginForm("Search", new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "search-results",
            InsertionMode = InsertionMode.Replace
        }))
        {
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    @Html.TextBoxFor(m => m.OwnerId, new { @class = "form-control input-lg", placeholder = "Enter owner ID..." })

                    <span class="input-group-btn">
                        <button type="submit" value="Search" class="btn btn-primary btn-lg" id="search">Search</button>
                    </span>
                </div>
            </div>
            @Html.ValidationMessageFor(m => m.OwnerId, null, new { @class = "text-danger" })
        }

    </div>
</div>

<div class="row" id="search-results">
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")  
}